
#img{
    width: auto;
    height: 100px;
}
#search-box{
    margin-bottom: 80px;
    margin-right: 90px;
    width: 350px;
    height: 40px;
    font-size: 25px;
}
.top-row-btn{
  margin-bottom: 80px;
    height: 46px;
    vertical-align: middle;
    text-align: center;
    margin-top: 25px;

}
#top-row{
    border: 3px solid pink;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }
