
#img{
    width: auto;
    height: 100px;
}
#top-row{
    display:grid;
    grid-template-columns: 300px auto 100px 300px;
    gap: 10px;


}
.top-row-btn{
    vertical-align: middle;
    text-align: center;
    height: 46px;
    margin-top: 26px;

}
#search-box{
    width: auto;
    height: 40px;
    font-size: 25px;
}
#sec-top-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    vertical-align: middle;
    text-align: center;
    justify-content: center;

}
.menu-items{
    background-color: #41474A;
    font-size: 20px;
    height: 45px;

}
#product-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.product-images{
    height: 200px;
    width: auto;
}
